*{
  margin: auto;
  padding: 0%;
}
.App{
  margin: 10px;
 padding: 10px;
 
 border: 2px solid rgb(1, 1, 17);
 border-radius: 30px;
 box-shadow: 50px solid black;
 height: 300px;
 width: 50%;
background-color: aqua;
justify-content: center;
display: flex;
flex-wrap: wrap;
}
.btn{
  margin: 10px;
  padding: 10px;
background-color: green;
color: aliceblue;
width: 100%;
height:50%;
border: 2px solid bisque;
border-radius: 30px;
box-shadow: 50px solid white;
}
.btn1{
  margin: 10px;
  padding: 10px;
background-color: red;
color: aliceblue;
width: 100%;
height:50%;
border: 2px solid bisque;
border-radius: 30px;
box-shadow: 50px solid white;
}